<div class="jumbotron center">
<h1>About the Best Browser Extensions</h1>
<h4>Best Browser Extensions is all about ranking and reviewing the best browser extensions in the universe.</h4>
<h4>Want to discover the best extensions? Just check out the rankings on the front page. You can add your favorite extensions you don't see, write reviews for extensions and rank the extensions.</h4>
<h4>Perhaps you have never used an extension before and are a little uncertain about what an extension does. A browser extension is software that you choose to add to your browser to perform a specific set of functions. That's why they are commonly called browser add-ons. Most extensions just do 1 or 2 main things (find coupons when you are shopping, for example), and there are tens of thousands of extensions available.</h4>
<h4>All major desktop browsers have extensions available--IE, Firefox, Safari and Chrome all have plenty of extensions to choose from</h4>
<h4>With the right extensions, you can really enhance your browsing experience and be more productive and have a better experience online.</h4>
</div>

